rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{usuarios=**} {
      allow read, write: if request.auth.uid != null;
    }
    match /{atualizacao=**} {
      allow read, write;
    }
    match /{grupoEmail=**} {
      allow read, write;
    }
  }
}
