
.input_text{

    border: 0.5px solid lightgray;
    padding-left: 1rem;
    border-radius: 20px;    
}

.input_text:focus{
    background-color: none;
}

ion-content{
    --background: linear-gradient(var(--ion-color-primary), white) !important;

}

.height-min{
    min-height: 12% !important;
}

.border-radius-top{
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    height: 88% !important;
    background-color: white !important;
}

.min-height-105{
    min-height: 1.05rem !important;
}

.buttonCustom{
    padding: 3rem !important;
    border-radius: 20px !important;
}

.cadastroLabelPrimary{
    color: var(--ion-color-primary) !important;
}

.cadastroLabel{
    color: gray !important;
    text-align: center !important;
    font-size: 95% !important;
}

.round{
    --border-radius: 20px !important;
    --padding-top: 1.5rem !important; 
    --padding-bottom: 1.5rem !important;
    margin-bottom: 2rem !important;
}

div.input-wrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
}
