@import "/src/app/app.component.scss";
@import "/src/global.scss";

.login_wrapper {
  height: 100vh;
  width: 100%;
  text-align: center;
  .login_title {
    width: 100%;
    background-image: url("../../../../assets/wizard_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    padding-top: 40px;
    padding-bottom: 75px;
  }
  img {
    width: 185px;
  }
  .login_form {
    text-align: center;
    width: calc(100% - 40px);
    margin: 0 auto;
    .login_row {
      padding-bottom: 15px;
      h4 {
        text-align: center;
        color: $dark_prime;
        font-weight: 600;
        font-size: 28px;
      }
      input {
        width: 100%;
        height: 45px;
        border: none;
        border-radius: 24px;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        background-color: $secondary_color;
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: 25px;
        &:focus {
          outline: none;
        }
      }
      .mail {
        background-image: url("../../../../assets/mail_icon.png");
      }
      background-position: left 23px top 12px, right 23px top 12px;
    }
    .login_btn {
      background-color: $primary_color;
      height: 45px;
      color: $white_color;
      border-radius: 24px;
      width: 100%;
      font-size: 18px;
      background-image: url("../../../../assets/arrow_icon.png");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: right 15px top 15px;
      &:focus {
        outline: none;
      }
    }
  }
  p {
    color: #988fa7;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    font-weight: 500;
    padding-bottom: 15px;
    strong {
      color: #593799;
      font-weight: 500;
    }
  }
}

.social_bay {
  width: 100%;
  padding-bottom: 10px;
  ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      border: 1px solid #efedf2;
      width: 60px;
      height: 45px;
      border-radius: 28px;
      margin: 10px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .fb_icon {
      background-image: url("../../../../assets/fb_icon.png");
      background-size: 11px;
    }
    .google_icon {
      background-image: url("../../../../assets/google_icon.png");
      background-size: 20px;
    }
  }
}

.setpass_wrapper {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $white_color;
  .set_pass_form {
    padding: 15px;
    .set_pass_row {
      padding-bottom: 20px;
      p {
        color: #988fa7;
        text-align: left;
        padding-bottom: 10px;
        margin: 0px;
      }
      input {
        width: 100%;
        height: 45px;
        border: none;
        padding-left: 0px;
        background-color: transparent;
        &::placeholder {
          color: #e4dcf3;
        }
      }
    }
  }
  .pass_footer_section {
    padding: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    .login_btn {
      background-color: $primary_color;
      height: 45px;
      color: $white_color;
      border-radius: 24px;
      width: 100%;
      font-size: 18px;
      background-image: url("../../../../assets/arrow_icon.png");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: right 15px top 15px;
      &:focus {
        outline: none;
      }
    }
  }
}
