<ion-content>
  <div class="login_wrapper">
    <img src="../../../assets/title_logo.png" />
    <form
      #form
      [formGroup]="resourceForm"
      class="login_form"
      (submit)="onSubmit()"
    >
      <div class="login_row">
        <input
          class="user"
          formControlName="email"
          type="text"
          placeholder="Email"
        />
        <app-validators-form
          [form-control]="$any(resourceForm.get('email'))"
        ></app-validators-form>
      </div>
      <div class="login_row">
        <input
          class="pass"
          formControlName="password"
          type="password"
          placeholder="Senha"
        />
        <app-validators-form
          [form-control]="$any(resourceForm.get('password'))"
        ></app-validators-form>
      </div>
      <div class="login_row">
        <app-button title="Login" [valido]="!resourceForm.invalid"></app-button>
      </div>
    </form>
    <div class="social_bay" *ngIf="this.currentPlatformService.isDevice">
      <ul>
        <li class="digital_icon" (click)="checkCredential()"></li>
        <!-- <li class="google_icon"></li> -->
      </ul>
    </div>
    <p><strong (click)="goToPage('forgot')">Esqueceu a senha?</strong></p>
    <p>
      Não possui uma conta ?
      <strong (click)="goToPage('signup')">Cadastre-se</strong>
    </p>
  </div>
</ion-content>
<ion-footer
  *ngIf="this.currentPlatformService.isMobileWeb"
  class="ion-no-border"
  color="transparent"
  (click)="rotaAppAction()"
>
  <ion-toolbar color="transparent" style="display: flex">
    <ion-title color="tertiary">Utilize o app</ion-title>
  </ion-toolbar>
</ion-footer>
